
.upcase {
    font-size: .6rem;
    text-transform: uppercase;
}

.page-container {
    margin: 1rem;
    gap: .2rem;
    display: grid;
    grid-template-columns: .7fr 1fr;
}

.all-overview-container {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.second-info-container {
    width: 100%;
    /* height: 30%; */
    flex: 0 0 30%;
    display: flex;
    gap: .1rem;
}

.trailer-container {
    position: relative;
    background-color: var(--bg-section);
    background-size: cover;
    background-position: top center;
    width: 70%;
    height: 100%;
    transition: all .2s ease 0s;
}
.trailer-container:hover {
    cursor: pointer;
    .trailer-btn {
        text-decoration: underline;
    }
}

.trailer-btn {
    font-weight: 500;
    font-size: .8rem;
    background-color: var(--bg-w);
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--text-o);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 1rem 1rem;
    transition: all .2s ease 0s;
}

.rating-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.rating-bubble {
    background-color: var(--bg-w);
}

.year-bubble {
    background-color: var(--bg-g);
}

.rating {
    color: var(--text-o);
    font-weight: 300;
    font-size: 1.5rem;
}

.year {
    color: var(--text);
    font-weight: 300;
    font-size: 1.5rem;
}

.bubble {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}


.first-info-container {
    /* height: 70%; */
    flex: 1 1 70%;
    background-color: var(--bg-section);
    display: flex;
    flex-direction: column;
}

.about-container {
    margin: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.film-title {
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
}

.overview {
    font-size: .7rem;
    margin-top: 1rem;
    line-height: 1rem;
}

.crew-container {
    margin: 0 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
}


.actors-container {
    display: flex;
    flex-direction: column;
}

.actor {
    font-weight: 300;
    color: var(--text);
    text-decoration: underline;
    padding: .1rem;
    transition: all .1s ease 0s;
}
.actor:hover {
    cursor: pointer;
    color: var(--text-b);
}

.time-director-container {
    position: relative;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    max-height: 11rem;
}

.borderer {
    border: 2px solid var(--bg-w);
}

.bubble-container {
    transition: all .2s ease 0s;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


.time {
    justify-content: center;
}

.runtime {
    font-weight: 300;
    font-size: 3rem;
    display: block;
    margin-bottom: 1rem;
}

.director-container {
    min-height: 5rem;
    line-height: .7rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--text);
}
.director-container:hover {
    cursor: pointer;
    background-color: var(--bg-w);
    color: var(--text-b);
}

.director-image {
    background-color: var(--bg-w);
    margin: .5rem;
    width: 5rem;
    border-radius: 1rem;
}

.director {
    margin: 0 .5rem 0 .5rem;
}

.backdrop-container {
    background-color: var(--bg-g);
    min-height: 50vh;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: all .3s ease 0s;
}
.backdrop-container:hover {
    .watch {
        background-color: var(--bg-g);
    }
}

.watch {
    font-weight: 500;
    font-size: .8rem;
    background-color: var(--bg-w);
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--text-b);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2rem;
    transition: all .2s ease 0s;
}
/* 
.other-container {
    height: 3rem;
} */

@media (max-width: 700px) {
    .page-container {
        grid-template-columns: 1fr;
        min-height: 100vh;
        grid-template-rows: auto auto;
    }

    .crew-container {
        flex-direction:column-reverse;
    }

    .director-image {
        width: 3rem;
    }
}