
.player-container {
    border: 3px solid var(--bg-w);
    background-color: var(--bg-g);
    width: 60rem;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 1rem 1rem var(--text-b);
    transition: all .2s ease 0s;
}
.player-container:hover{
    border: 3px solid var(--bg-section);
}

.info-text {
    margin: 1rem;
    text-align: center;
}

.tagline {
    font-style: italic;
    font-family: var(--heading);
    font-weight: 300;
    color: var(--text-g);
    margin: .5rem;
}

.description-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .player-container {
        width: 40rem;
    }
}
@media (max-width: 700px) {
    .player-container {
        width: 20rem;
    }
}