

.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.search {
    border-radius: .5rem;
    font-size: .9rem;
    color: var(--text-b);
    background-color: var(--bg-w);
    border: none;
    width: 20rem;
    height: 1rem;
    padding: .4rem;
}

.popular-list {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}