

.back-button {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.3rem;
    line-height: 1.2rem;
    margin: 1rem;
    border: none;
    background: none;
    color: var(--bg-w);
    transition: all .1s ease 0s;
}
.back-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--bg-g);
}