
nav {
    padding: .5rem;
    border-bottom: var(--bg-section) solid 1px;
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
    font-size: .9rem;
    padding: .5rem 1rem;
    background-color: var(--bg-w);
    color: var(--text-o);
    text-decoration: none;
    font-weight: 400;
}

.item {
    text-align: center;
    width: 10rem;
    padding: .5rem;
    background-color: var(--bg-g);
    margin-left: 1rem;
    color: var(--text);
    text-decoration: none;
    font-weight: 400;
}