
nav {
    padding: .5rem;
    border-bottom: var(--bg-g) solid 1px;
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: var(--bg-section);
    border-radius: .5rem;
    text-align: center;
    font-size: .9rem;
    padding: .3rem 1rem;
    color: var(--text);
    text-decoration: none;
    font-weight: 400;
    transition: all .15s ease 0s;
}
.logo:hover {
    background-color: var(--bg-g);
    color: var(--bg-w);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    text-align: center;
    width: 10rem;
    padding: .3rem;
    margin-left: 1rem;
    color: var(--text);
    text-decoration: none;
    font-weight: 400;
}
.item:hover {
    color: var(--bg-w);
}